body {  font: normal 11px auto Helvetica, sans-serif;  color: #4f6b72;  background-color: #F5F5F5;}a {  color: #c75f3e;}
a:hover, a:active {
	color: #fff;
	background-color: #B52C07;
}

h2 {
	color: #B52C07;
	font: 120% georgia, times, "times new roman", serif;
	font-weight: bold;
	margin: 0 0 2px 0;
}

h2 a { 
  text-decoration: none; 
}

h3 {
	color: #5B5E0E;
	font: 106% georgia, times, "times new roman", serif;
	font-weight: bold;
	margin-top: 0;
}

.observacao {
  height:60px; 
  width:240px;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow:-moz-scrollbars-vertical;
}

#flash {
  margin-bottom: 3px;
  height: 25px;
	background-color: #90EE90;
	color:  #000000;
  text-align: center;
  font: normal 14px auto Helvetica, sans-serif;
}

#flash label {
	padding: 0 10px;
  line-height:25px;
}

#container {
	margin: 1em auto;
	text-align: left;
}

#navegacao {
	background: #222 url(../images/overlay.png) repeat-x; 
  margin-bottom: 3px;
  height: 25px;
	background-color: #D9D9D9;
  text-align: center;
  font: normal 14px auto Helvetica, sans-serif;
}

#navegacao ul {
	list-style-type: none;
}
	
#navegacao li {
	display: inline;
	padding: 0 10px;
  border-left: 1px solid #A7A7A7;
  line-height:25px;
}
	
#navegacao a {
  text-decoration: none;
	color:  #4f6b72;
}
	
#navegacao a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #B52C07;
}

#menu {
	float: left;
	width: 300px;
  height:85%;
  background-color: #ffffff;
}

#footer {
  clear: both;
	position: fixed;
  height: 14px;
  width: 99%;
  bottom: 0;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  font: normal 11px auto Helvetica, sans-serif;
}

.input {
  background:#FFFFFF;
  border:1px dashed #4f6b72;
  font: normal 9px auto  Helvetica, sans-serif;
}

div.table {
  margin-bottom: 30px;
}
#mytable {  width: 800px;  padding: 0;  margin: 0;}th {  font: bold 11px Helvetica, sans-serif;  color: #4f6b72;  border-right: 1px solid #C1DAD7;  border-bottom: 1px solid #C1DAD7;  border-top: 1px solid #C1DAD7;  letter-spacing: 2px;  text-transform: uppercase;  text-align: center;  padding: 6px 6px 6px 5px;}
th.spec {
  background: #FFFFFF;  border-left: 1px solid #C1DAD7;  border-top: 0;  font: bold 10px  Helvetica, sans-serif;}
th.spec2 {
  background: #FFFFFF;  border-left: 1px solid #C1DAD7;  border-top: 1px solid #C1DAD7;  font: bold 10px  Helvetica, sans-serif;}
th.specalt {
  background: #FFFFFF;  border-left: 1px solid #C1DAD7;  border-top: 0;  font: bold 10px Helvetica, sans-serif;
  text-align: left;}
td {  border-right: 1px solid #C1DAD7;  border-bottom: 1px solid #C1DAD7;  padding: 6px 6px 6px 12px;  color: #000000;
  font: 10px Helvetica, sans-serif;
  text-align: center;}
td.alt {  background: #FFFFFF;
  color: #797268;}

.botao, .botao:visited {
	background: #222 url(../images/overlay.png) repeat-x; 
  font-size: 11px;
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
  font: 10px sans-serif;
}

.botao:hover { 
  background-color: #111; color: #fff; 
}

.botao:active	{ 
  top: 1px; 
}

th li {
  margin-left: -30px;
  margin-bottom: 10px;
  text-align: left;
	list-style-type: none;
  color: #000000;
  font: 8px sans-serif;
}

