<div id="navegacao">
  <ul>
    <li><%=link_to "Lista de Devedores", debtors_path%></li>
    <li><%=link_to "Pesquisa", searches_path%></li>
    <li><%=link_to "Logoff", session_path(session[:id]), :method => :delete%></li>
  </ul>
</div>
